$main-color: white;
$secondary-color: #808080;
$bg-color : black;
$accessory-color: red;

//spacing:
$s-size: 1.8rem;

$m-size: 3.2rem;
$xl-size: 4.8erem;

//font sizing :
$font-s : 1.6rem;
$font-m : 3rem;
$font-l : 6rem;


